@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* font-family: 'Outfit', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

/* Body Design CSS Code */
body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400, 700;
    background: hsl(212, 45%, 89%);
    width: 100%;
    max-width: 1440px;
    margin: 110px auto;
    /* border: 1px solid black; */
}

/* Card Container CSS Code */
.container{
    width: 300px; 
    height: 475px;  
    padding: 10px;
    margin: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 18px;
}

/* Inner Card Flex-Box CSS Code */
.flexitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Flex-box Img CSS Code */
.flexitem .code{
    width: 290px;
    margin: 5px auto;
    border-radius: 12px;
}


/* Flex-box h1 CSS Code */
.flexitem>h1{
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    opacity: 0.8;
}

/* Flex-Box paragraph CSS Code */
.flexitem>p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    margin-top: -2px;
    opacity: 0.6;
    color:  hsl(218, 44%, 22%);
}

/* Footer Design CSS Code */
footer{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 25px auto;
    word-spacing: 5px;
}

/* Footer a tag CSS Code */
footer a{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

footer a:hover{
    color: red;
}

/* Small Responsive CSS Code */
@media screen and (max-width: 400px) {
    body{
        width: auto;
    }
}

